*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradle/libs.versions.toml
/gradlew
/gradlew.bat
/app/proguard-rules.pro
/app/src/androidTest/java/com/example/android_ws/ExampleInstrumentedTest.java
/app/src/test/java/com/example/android_ws/ExampleUnitTest.java
